* {
  font-family: 'FiraCode Nerd Font';
  font-size: 12pt;
  min-height: 0;
}

@import "theme.css";

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0rem;
  min-width : 30px;
  padding: 0 5px;
}

#tags button.occupied {
  box-shadow: inset 0 -3px @white;
}

#tags button.hover {
  box-shadow: inset 0 -3px @black;
}

#tags button {
  color: @blue;
}

#tags button.focused {
  color: @purple;
}

#tray,
#clock,
#battery,
#pulseaudio,
#backlight,
#workspaces,
#custom-lock,
#custom-power {
  background-color: @bg;
  padding: 0.2rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @fg;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-right: 1rem;
}

#battery {
  color: @green;
  border-radius: 0rem 1rem 1rem 0rem;
  margin-right: 1rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight {
}

#pulseaudio {
  color: @red;
  border-radius: 1rem 0px 0px 1rem;
}

#pulseaudio.microphone {
  color: @orange;
  border-radius: 0px 0px 0px 0px;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    color: @white;
}

#custom-theme {
    margin-right: 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    color: @fg;
}

#custom-monitor {
    margin-right: 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    color: @fg;
}

#custom-spotify {
    margin-left: 1cm;
    color: @aqua;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
